* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
 
}


/**********navigation bar**********/
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  display:flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: blue;
}

/* CSS */
/* consult now button start */
.bookbtn {
  background: #c800ff;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.bookbtn:hover,
.boobtn:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.bookbtn:active {
  opacity: .5;
}

/* consult now button ends */
/* container start*/
header {
  width: 100vw;
  height: auto;
  background-image: url('https://i.postimg.cc/rwwtwBtt/images-2025-02-07-T194458-146.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1%;
  display: flex;
  background-position: bottom;
  /* try with cenere */
}
/*left container start*/
.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid red;
}

.green {
  justify-content: center;
  align-items: center;
  color: black;
  padding: 20% 0;
}

.green h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  background-color: red;
}

.green p {
  font-size: 1.2rem;
  text-align: left;
  padding: 0 0 0 5%;

}

.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  text-align: center;

 
}

.option {
  font-size: 1.2em;
  flex: 1 0 48%;
  /* This makes the options take up 48% of the container's width */ 
  margin: 5px 0;
  padding: 10px;
  
  cursor: pointer;
}

.option:hover {
  font-weight: bold; 
}


/*right container start*/
.contact-form {
  background: #fff;
  padding: 2%;
  margin: 10% 5%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.contact-form,
h1 {
  margin-bottom: 10px;
  font-size: 1em;
}

.form-group {
  margin-bottom: 5px;
  text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 15px;
  outline: none;
  box-sizing: border-box;
}

textarea {
  resize: none;
  height: 80px;
}

.submit {
  width: 100%;
  background: #3498db;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit:hover {
  background: #2980b9;
}
/*notification box*/
.notification {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20%;
  background-color: #f3f4f6;
  font-family: Arial, sans-serif;
}

.notification-box {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 2px solid #4a90e2;
  padding: 15px 20px;
  width: 100%;
  min-width: 90%;
  max-width: 400px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.notification-title {
  font-weight: bold;
  color: #4a90e2;
  margin-right: 15px;
  white-space: nowrap;
}

.notification-wrapper {
  position: relative;
  overflow: hidden;
  height: 24px; /* Adjust based on text size */
  flex-grow: 1;
}

.notification-list {
  position: absolute;
  animation: slide 15s linear infinite;
}

.notification-item {
  color: #333;
  height: 24px;
  line-height: 24px;
}

@keyframes slide {
  0% { transform: translateY(0); }
  20% { transform: translateY(-24px); }
  40% { transform: translateY(-48px); }
  60% { transform: translateY(-72px); }
  80% { transform: translateY(-96px); }
  100% { transform: translateY(0); }
}
/*epr process start*/
.procedures {
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.pro-container {
  max-width: 900px;
  width: 100%;
}

.step {
  background: #ffffff;
  border: 2px solid #ddd;
  border-radius: 0 50px 0 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px 0;
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  transition: transform 0.21s ease-in-out;
}
.step:hover {
  transform: translateY(-5px);
}

.icon {
  font-size: 80px;
  color: #4A90E2;
  margin-right: 15px;
  margin-left: 15%;
}

.step-content {
  display: flex;
  flex-direction: column;
  padding: 1%;

}

.step-title {
  font-size: 1.5rem;
  font-weight: bold;

  color: #333;
  margin-bottom: 10px;
}

.step-description {
  font-size: 1.2rem;
  color: #555;

  margin-top: 5px;
}
/*epr process ends*/
/*epr to me*/
.eprtome {
      background-color: #f8f9fa;
      padding: 20px;
      display: flex;
      justify-content: center;
    }

    .container-me {
      max-width: 1200px;
      width: 100%;
      background: #ffffff;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      padding: 40px;
    }

    .header-me {
      text-align: center;
      margin-bottom: 30px;
    }

    .header-me h1 {
      font-size: 2rem;
      color: #333;
    }

    .header-me p {
      font-size: 1rem;
      color: #666;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 40px;
      align-items: center;
    }

    .grid-content {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
    }

    .card {
      background-color: #ffffff;
      border: 2px solid #e0e0e0;
      border-radius: 10px;
      padding: 20px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: box-shadow 0.3s;
    }

    .card:hover {
      box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    }

    .card-title {
      font-size: 1.5rem;
      color: #2c3e50;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .card-description {
      font-size: 1rem;
      color: #7f8c8d;
    }

    .image img {
      max-width: 100%;
      border-radius: 10px;
    }

    @media (max-width: 768px) {
      .grid {
        grid-template-columns: 1fr;
      }
    }

    @media (max-width: 600px) {
      .container-me {
        padding: 20px;
      }

      .card-title {
        font-size: 1.25rem;
      }
    }
    @keyframes slideIn {
      from {
        transform: translateX(-100%);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .slide-in {
      animation: slideIn 1s ease-in-out forwards;
    }
/*epr to me end*/
/*mobile veiw */
@media screen and (max-width: 768px) {
  body {
    font-size: 50px;
  }
  .float-child {
    width: 100%;
  }
  header{
    flex-direction: column;
  }
  .option {
    font-size: 1.2rem;
    flex: 1 0 48%;
    /* This makes the options take up 48% of the container's width */
    
  }
  .contact-form{
    margin-top:0;
  }
  .navbar,h2{
    font-size: 1.5rem;
  }
  .notification-title {
    color: #4a90e2;
    margin: 0 2% 0 0;
    font-size:0.3em;
    white-space: nowrap;
  }
  .notification-list {
    position: absolute;
    animation: slide 15s linear infinite;
  }
  .notification-item {
    color: #333;
    height: 24px;
    line-height: 24px;
    font-size:0.3em;
  }
  .notification-wrapper {
    position: relative;
    overflow: hidden;
    height: 0.2em; /* Adjust based on text size */
    width:100vw;
    flex-grow: 1;
  }
}  
/*epr process starts*/
@media (max-width: 600px) {
  .step {
    flex-direction: column;
    text-align: center;
  }

  .icon {
    font-size: 30px;
    margin-bottom: 10px;
  }
}


/*epr process ends*/

/*epr rule*/
    eprrule {
      
      background-color: #f9f9f9;
      color: #333;
      line-height: 1.6;
      padding: 20px;
    }

    .container-rule {
      max-width: 900px;
      margin: 0 auto;
      background: #ffffff;
      padding: 25px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    }

    .eprrule-title {
      text-align: center;
      margin-bottom: 20px;
      color: #0056b3;
    }

    .rule {
      margin-bottom: 20px;
      padding: 15px;
      border-left: 5px solid #0073e6;
      background: #f1f9ff;
      border-radius: 8px;
    }

    .rule h2 {
      font-size: 1.2em;
      color: #0056b3;
      margin-bottom: 10px;
    }

    .rule p {
      font-size: 0.95em;
      color: #555;
    }

    @media (max-width: 600px) {
      body {
        padding: 10px;
      }

      .rule h2 {
        font-size: 1.1em;
      }

      .rule p {
        font-size: 0.9em;
      }
    }

 
/*epr rquirement ends*/
requirments {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
  padding: 20px;
}

.container-requirments {
  max-width: 900px;
  margin: 0 auto;
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

requirments-h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #0056b3;
}

requirments-ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f1f9ff;
  border-left: 5px solid #0073e6;
  margin: 10px 0;
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
}

li::before {
  content: "\27A1";
  color: #0073e6;
  font-size: 1.2em;
  margin-right: 10px;
}

requirments-p {
  font-size: 0.95em;
  color: #555;
}

@media (max-width: 600px) {
  body {
    padding: 10px;
  }

  li {
    font-size: 0.9em;
  }
}
/*epr rquirement ends*/
.faq {
  background-color: #f9f9f9;
  padding: 20px;
}

.faq-section {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.faq-item {
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.faq-question {
  padding: 15px;
  background: #f0f0f0;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question:hover {
  background: #e6e6e6;
}

.faq-answer {
  display: none;
  padding: 15px;
  background: #ffffff;
  border-top: 1px solid #ddd;
  color: #555;
}

.faq-question span {
  transition: transform 0.3s;
}

.faq-question.active span {
  transform: rotate(180deg);
}


/******footer****/

.footer-section{
            margin: 0;
            font-family: Arial, sans-serif;
            background-color: #222;
            color:white;

        }
        .contact-section {
            padding: 50px;
            background: linear-gradient(150deg, white 40%, #222 40%);
            color: white;
        }
        .contact-container {
            max-width: 1500px;
            margin: auto;
            background: #222;
            padding: 30px;
            border-radius: 10px;
        }
        .footer-logo-h2{
            text-align: left;
        }
        .footer-logo-p{
            font-size: 20px;
        }
        .contact-info {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .contact-details, .contact-form {
            flex: 1;
            min-width: 300px;
            margin: 10px;
        }
        .contact-form input, .contact-form textarea {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: none;
            background: #333;
            color: white;
        }
        .contact-form button {
            background: black;
            color: white;
            padding: 10px;
            border: none;
            cursor: pointer;
            width: 100%;
        }
        .social-icons {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }
        .social-icons a {
            color: white;
            text-decoration: none;
            font-size: 20px;
        }
        .footer {
            text-align: center;
            margin-top: 20px;
            font-size: 12px;
        }
        @media (max-width: 600px) {
            .contact-info {
                flex-direction: column;
                text-align: center;
            }
        }


